:root {
  --bs-primary: rgb(82, 0, 174);
  --bs-primary-rgb: 82, 0, 174;
  --bs-tertiary-bg: #f8f9fa;
  --bs-secondary-bg: #e9ecef;
  --main-panel-width-xs: 5rem;
  --nav-width-xs: 5rem;
  --nav-width: 15rem; //abs(--nav-width-xs) + --main-panel-width-xs
  --nav-width-negative: calc(-1 * var(--nav-width));
  --nav-transition-duration: 0.3s;
  --nav-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  --offcanvas-header-width: calc(var(--nav-width) - 3rem);
}

body {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}

.bg-tertiary {
  background-color: var(--bs-tertiary-bg) !important;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.card {
  .card-body {
    .card-title {
      &.h5 {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
}

.btn-link {
  color: var(--bs-primary);
  font-weight: 700;
  text-decoration: none;
}