:root,
[data-bs-theme=light] {
    .nav-pills {
        .nav-link {
            &.active {
                border-left-color: var(--bs-dark);
            }
        }
    }
}
[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-form-invalid-border-color: #ea868f;


    .nav-pills {
        .nav-link {
            &.active {
                border-left-color: var(--bs-light);
            }
        }
    }
}