:root,
[data-bs-theme=light] {
    .modal-form {

        form {
            display: contents;
        }

        .modal-header {
            border: none;
        }

        .modal-footer {
            border: none;
        }
    }

    .nav-pills {
        .nav-link {
            &.active {
                border-left-color: var(--bs-dark);
                background-color: rgba(var(--bs-dark-rgb), 0.1);
                color: var(--bs-dark);
            }
        }
    }

    .back-to-top {
        background-color: rgba(var(--bs-dark-rgb), 0.8);
        color: var(--bs-light);
    }

    .list-group-item {
        border: none;
        border-radius: 0.35rem;
    }

    .list-group-item-danger,
    .list-group-item-info {
        --bs-list-group-bg: transparent;
    }

}

[data-bs-theme=dark] {
    color-scheme: dark;

    .nav-pills {
        .nav-link {
            &.active {
                border-left-color: var(--bs-light);
                background-color: rgba(var(--bs-light-rgb), 0.1);
                color: var(--bs-light);
            }
        }
    }

    .back-to-top {
        background-color: rgba(var(--bs-light-rgb), 0.8);
        color: var(--bs-dark);
    }
}