.dashboard-navbar-brand {
  --bs-text-opacity: 1;
  align-items: center;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
  display: flex;
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 2rem;
  text-decoration: none;
  text-wrap: nowrap;
}
