.dropdown-profile{
    .dropdown-toggle{
        font-size: 1rem;
        background: transparent;
        border: none ;
    }
    .dropdown-toggle::after{
        vertical-align:.1em ;
        margin-left: .3em;
    }
}