.profile-update-avatar-modal {
    .btn-avatar {
        &:hover {
            background-color: var(--bs-tertiary-bg);
            border-color: var(--bs-secondary-bg);
        }

        &.active,
        &:active {
            border-color: var(--bs-tertiary-bg);
            background-color: var(--bs-secondary-bg);
        }
    }
}