.dashboard-sidebar-offcanvas {
  &.offcanvas {
    background-color: transparent;
  }

  &.offcanvas,
  &.offcanvas-lg,
  &.offcanvas-md,
  &.offcanvas-sm,
  &.offcanvas-xl,
  &.offcanvas-xxl {
    --bs-offcanvas-width: var(--nav-width);
  }

  .offcanvas-header {
    left: var(--offcanvas-header-width);
    position: absolute;
    z-index: 9;
    padding: 1rem;
  }

  .offcanvas-body {
    padding: 0;
  }

  .offcanvas-header .btn-close {
    padding: 0;
    margin: 0;
  }
}
