.dashboard-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  left: 0;
  padding: 1rem;
  position: fixed;
  transition: all var(--nav-transition-duration) var(--nav-transition-timing-function);
  width: var(--nav-width);
}
