$bd-dark-violet-rgb: rgb(0, 46, 174);
$bd-accent-rgb: rgb(9, 9, 226);
$bd-violet-rgb: rgb(0, 13, 252);

.cover-index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;

  &.cover-bg {
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
      radial-gradient(ellipse at top left, rgba($bd-dark-violet-rgb, 0.5), transparent 50%),
      radial-gradient(ellipse at top right, rgba($bd-accent-rgb, 0.5), transparent 50%),
      radial-gradient(ellipse at center right, rgba($bd-violet-rgb, 0.5), transparent 50%),
      radial-gradient(ellipse at center left, rgba($bd-dark-violet-rgb, 0.5), transparent 50%);
  }
}