.cover-index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;

  &.cover-bg {
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
      radial-gradient(ellipse at top left, rgba(var(--bs-indigo-rgb), 0.5), transparent 50%),
      radial-gradient(ellipse at top right, rgba(var(--bs-purple-rgb), 0.5), transparent 50%),
      radial-gradient(ellipse at center right, rgba(var(--bs-blue-rgb), 0.5), transparent 50%),
      radial-gradient(ellipse at center left, rgba(var(--bs-indigo-rgb), 0.5), transparent 50%);
  }
}