.modal-action {
    --btn-back-bg: url("../../../../public/icons/chevron-left.svg");
    --btn-close-bg: url("../../../../public/icons/close.svg");

    .btn-action {
        --btn-color: #000;
        --btn-opacity: 0.5;
        --btn-hover-opacity: 0.75;
        --btn-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        --btn-focus-opacity: 1;
        --btn-disabled-opacity: 0.25;
        --btn-white-filter: invert(1) grayscale(100%) brightness(200%);

        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: .25em;
        color: var(--btn-color);
        border: 0;
        border-radius: .375rem;
        opacity: var(--btn-opacity);
        background: transparent center/2em auto no-repeat;

        &:hover {
            text-decoration: none;
            opacity: var(--btn-hover-opacity);
        }

        &.btn-action-close {
            background-image: var(--btn-close-bg);
        }

        &.btn-action-back {
            background-image: var(--btn-back-bg);
        }
    }
}