.search-bar {

    .input-group {
        border-color: var(--bs-border-color);
        border-width: var(--bs-border-width);
        border-radius: var(--bs-border-radius);
        border-style: solid;
    }

    .input-group-text {
        border: none;
    }

    input {
        border: none;

        &:focus {
            border-color: var(--bs-border-color);
            box-shadow: none;
        }

        &.form-control {
            border-left: none;
        }
    }

    button {
        &.btn-reset {
            border: none;
            background: transparent;
            color: var(--bs-body-color);
            text-align: center;
            padding: 0;
            width: 2.5rem;

            &:focus {
                text-shadow: 0 0 0.25rem rgba(13, 110, 253, .25);
                box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                outline: 0;
            }
        }
    }

    .active {
        box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
        border-color: #86b7fe;
        border-radius: var(--bs-border-radius);
    }
}