.cp-navbar-brand {
  --bs-text-opacity: 1;
  align-items: center;
  display: flex;
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 1.75rem;
  padding-top: 0.75rem;
  text-decoration: none;
  text-wrap: nowrap;
}
